/* -----------------------------------------------------------------
Section: Footer 
--------------------------------------------------------------------*/

.section-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background: #333;
    text-align: center;
    color: #fff;
    padding: 20px 0px;
}

.footer-info {
    height: auto;
    opacity: 0.9;
}

.map {
    width: auto;
    height: 100%;
}

.footer-brand {
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.footer-form {
    display: grid;
    width: 80%;
    height: 70%;
    grid-gap: 1em;
    margin: auto;
    position: relative;
    top: 15%;
}

.contact-input {
    background: #333;
    color: #fff;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #aaa;
}

.contact-input:focus, .corporate-input:focus {
    outline: none;
    border-bottom: 1px solid #267DEA;
    animation: pulse 1s ease;
}

.contact-content {
    resize: none;
    font-size: 13px;
}

.submit-btn {
    background: lightgreen;
    border: 0;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
}

.submit-btn:hover {
    cursor: pointer;
    animation: pulse 0.5s infinite;  
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}



/* -----------------------------------------------------------------
Section: Secondary Footer 
--------------------------------------------------------------------*/

.section-second-footer {
    background: #333;
    display: grid;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.social-media-wrapper {
    width: 20%;
    margin: auto;
}

.social-media-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.social-media-list li a i {
    color: #fff;
}