.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(22,22,22,0.6);
    display: none;
    z-index: 3;
    top: 0;
    left: 0;
}

.modal-content {
    margin: 10% auto;
    position: relative;
    width: 60%;
    height: 70%;
}

.modal-img {
    width: 100%;
    height: 100%; 
}

.modal-body {
    padding: 20px;
}

.img-text {
    background-color: #000;
    opacity: 0.8;
    padding: 3em 6em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    text-align: left;
}

.caption {
    color: #fff;
    position: relative;
    text-align: center;
}

.directional {
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    padding: 1em;
    position: absolute;
    top: 40%;
    cursor: pointer;
}

.left {
    left: -1.5em;
}

.right {
    right: -1.5em;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 3em;
    cursor: pointer;
    background-color: #000;
    opacity: 0.8;
    float: right;
    padding: 0.5em 1em;
}

@media screen and (max-width: 700px), (min-width: 768px) and (max-width: 1024px) {
    .modal-content {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }
}